<dom-module id="abas-style">
    <template>
        <style>
            html {
                /* colors */
                --hero-green: #1bbaa5;
                --hero-green-hover: #8dddd2;
                --hero-grey: #2a3539;
                --hero-grey-hover: #a0a4a7;
                --white: #ffffff;
                --light-grey: #cbccce;
                --very-light-grey: #f4f4f4;
                --mid-grey: #525b60;
                --alert-red: #cd2735;
                --alert-orange: #e68213;
                --alert-yellow: #ebc80a;
                --alert-green: #84c32c;
                --alert-blue: #1a5dad;
                --accent-red: #961937;
                --accent-mustard: #ffb60f;
                --accent-green: #1fa870;
                --accent-teal: #0b7b7c;
                --accent-blue: #1c5e6e;
                --abas-accent-red: #e30047;
                --abas-accent-red-hover: #da7093;
                --abas-accent-yellow: #fce122;
                --abas-accent-green: #96d700;

                /* Overwritten Mixins */
                --iron-grid-element-style: {
                    padding: 0;
                    flex-direction: column;
                    flex-wrap: nowrap;
                };
                --paper-dropdown-menu-input: {
                    color: var(--hero-green) !important;
                };
                --paper-dropdown-menu-button: {
                    color: var(--hero-green);
                };

                /* Overwritten Variables */

                --paper-checkbox-unchecked-color: var(--hero-green);
                --paper-checkbox-checked-color: var(--hero-green);
                --paper-checkbox-checked-ink-color: var(--hero-green-hover);
                --paper-checkbox-unchecked-ink-color: var(--hero-green-hover);

                --paper-input-container-focus-color: var(--hero-green);

                --paper-toggle-button-unchecked-bar-color: var(--abas-accent-red-hover);
                --paper-toggle-button-unchecked-button-color: var(--abas-accent-red);
                --paper-toggle-button-unchecked-ink-color: var(--hero-green-hover);

                --paper-toggle-button-checked-bar-color: var(--hero-green-hover);
                --paper-toggle-button-checked-button-color: var(--hero-green);
                --paper-toggle-button-checked-ink-color: var(--abas-accent-red-hover);
                --default-primary-color: var(--hero-green);
            }

            /* Fonts */

            @font-face {
                font-family: 'abasPermMarker';
                src: url('./fonts/AbasPermanentMarker.woff') format('woff');
            }

            /* CSS */

            body {
                font-family: 'Open Sans', sans-serif;
                margin: 0;
            }
            html h1{
                font-family: 'abasPermMarker';
            }
        </style>
    </template>
</dom-module>